/* @import "./normalize.css"; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* this means that 1rem = 10px */
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
p {
  margin: auto 0;
}

.font-normal {
  font-size: 13px;
  font-weight: bold;
}

/* button */
.btn-long {
  background-color: #ccc !important;
  font-size: 10px !important;
  padding: 6px 1.7rem !important;
  font-weight: bold !important;
  margin: 1rem !important;
  color: #000 !important;
}

/* divider */
.divider {
  height: 0.2rem;
  margin: 0 1rem;
  background-color: #ccc;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: blue;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav h1 {
  color: white;
  margin: 0.8rem;
  padding-right: 3rem;
}

.icon-bar {
  padding: 0 2rem;
}

/* Left side bar */

.left-nav {
  max-width: 21rem;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (min-width: 1024px) {
  nav h1 {
    padding-right: 12rem;
  }
  .icon-bar {
    padding: 0 4rem;
  }
}

/* Scroll bar for left side bar */
/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* input group */
input,
textarea {
  border-radius: 3rem;
  border: 1px solid #ccc;
  color: #1b0760;
  outline: 0;
  border: 0;
  flex-grow: 1;
}

::placeholder {
  color: #94929e;
  font-weight: bold;
}

.input-group {
  width: 40%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3rem;
  box-shadow: 0 0 49px -17px #e6ebee;
  display: flex;
  justify-content: center;
  padding: 0.4rem 0.5rem;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* share */
.share {
  margin: 5rem 0 2.5rem;
  max-width: 36rem;
  padding: 0.8rem 0.5rem 1.4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.share-input {
  border: 0;
}

textarea {
  resize: none;
  border-radius: 0;
}

.share-text {
  align-items: center;
}

.share .divider {
  margin: 1.3rem 2rem;
}

/* Post */
.card {
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68) !important;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68) !important;
}

.post--button-image {
  width: 2rem;
}
.card p:first-of-type {
  margin-left: 0.5rem;
}
.card p:last-of-type {
  position: absolute;
  right: 0;
}

strong {
  font-size: 1rem;
}

/* Right Side Bar */
.ads-image {
  width: 2rem;
}

.right-side--bar,
.right-side--profile__bar {
  margin-top: 4rem !important;
  max-width: 25rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.right-side--bar .friend {
  margin: 0.9rem 0;
  padding: 0;
}
/*  */
.backdrop {
  position: relative;
}

.back-img {
  width: 80.8vw;
  height: 17rem;
}
.content-container {
  display: flex;
}
.pic {
  border: 3px solid white;
  width: 10rem !important;
  height: 10rem !important;
}

.profile-pic {
  position: absolute;
  bottom: -5.5rem;
  left: 44%;
}

.backdrop p {
  text-align: center;
}
.backdrop p:last-of-type {
  font-size: 0.9rem;
}
.username {
  margin: 0;
}

.content-child {
  margin-left: 1rem !important;
}

/* right side profile bar */
.right-side--profile__bar {
  margin-left: 1rem;
}

.city,
.from,
.relationship {
  padding-left: 1rem !important;
}

.profile-friends {
  display: flex;
  max-width: 23rem;
  flex-wrap: wrap;
}
.profile-friends p {
  text-align: center;
}
.profile-friend {
  max-width: 7.65rem;
  margin: 0.2rem;
}
.profile-friend--img {
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 1rem;
}
