/* @import "./normalize.css"; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* this means that 1rem = 10px */
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
p {
  margin: auto 0;
}

.font-normal {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  font-weight: bold;
}

/* button */
.btn-long {
  background-color: #ccc !important;
  font-size: 10px !important;
  padding: 6px 1.7rem !important;
  font-weight: bold !important;
  margin: 1rem !important;
  color: #000 !important;
}

/* divider */
.divider {
  height: 0.2rem;
  margin: 0 1rem;
  background-color: #ccc;
}

/* TOP NAV BAR */

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: blue;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav h1 {
  color: white;
  margin: 0.8rem;
  padding-right: 3rem;
}

.icon-bar {
  padding: 0 2rem;
}

.logo h1:hover {
  color: #f1f1f1;
}
.logo {
  text-decoration: none;
}

/* Left side bar */

.left-nav {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  max-width: 21rem;
  overflow-y: scroll;
}

@media screen and (min-width: 1024px) {
  nav h1 {
    padding-right: 12rem;
  }
  .icon-bar {
    padding: 0 4rem;
  }
}

/* Scroll bar for left side bar */
/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* input group */
input,
textarea {
  border-radius: 3rem;
  border: 1px solid #ccc;
  color: #1b0760;
  outline: 0;
  border: 0;
  flex-grow: 1;
}

::placeholder {
  color: #94929e;
  font-weight: bold;
}

.input-group {
  width: 40%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3rem;
  box-shadow: 0 0 49px -17px #e6ebee;
  display: flex;
  justify-content: center;
  padding: 0.4rem 0.5rem;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* share */
.share {
  margin: 5rem 0 2.5rem;
  max-width: 36rem;
  padding: 0.8rem 0.5rem 1.4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.share-input {
  border: 0;
}

textarea {
  resize: none;
  border-radius: 0;
}

.share-text {
  align-items: center;
}

.share .divider {
  margin: 1.3rem 2rem;
}

.sharedImgContainer {
  padding: 0 1rem 0.5rem 1rem;
  position: relative;
}
.shareImg {
  width: 100%;
  object-fit: cover;
}
.shareCancelImg {
  position: absolute;
  top: 0;
  right: 1rem;
  opacity: 0.7;
  cursor: pointer;
}

/* Post */
.card {
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68) !important;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68) !important;
}

.post--button-image {
  width: 2rem;
}
.card p:first-of-type {
  margin-left: 0.5rem;
}
.card p:last-of-type {
  position: absolute;
  right: 0;
}

strong {
  font-size: 1rem;
}

/* Right Side Bar */
.ads-image {
  width: 2rem;
}

.right-side--bar,
.right-side--profile__bar {
  margin-top: 4rem !important;
  max-width: 25rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.right-side--bar .friend {
  margin: 0.9rem 0;
  padding: 0;
}
/*  */
.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  object-fit: cover;
  position: absolute !important;
  left: 0;
  right: 0;
  margin: auto;
  top: 171px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
  margin: 0;
}

.profileInfoDesc {
  font-weight: 300;
  margin: 0;
}

.profileRightBottom {
  display: flex;
}

/* right side profile bar */
.right-side--profile__bar {
  margin-left: 1rem;
}

.city,
.from,
.relationship {
  padding-left: 1rem !important;
}

.profile-friends {
  display: flex;
  max-width: 23rem;
  flex-wrap: wrap;
}
.profile-friends p {
  text-align: center;
}
.profile-friend {
  max-width: 7.65rem;
  margin: 0.2rem;
}

/* LOGIN/REGISTER */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
